{% extends 'base.html' %}

{% block title %}{{ students.name }}{% endblock %}

{% block content %}
<h1>{{ students.name }}</h1>
<p><strong>Email:</strong> {{ students.email }}</p>
<p><strong>Phone Number:</strong> {{ students.phone }}</p>

<h2>Attendance</h2>
<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {% for attendance in attendance.students %}
    <tr>
        <td>{{ attendance.date }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="2">No attendance recorded yet.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <a href="{{students.attendance}}">Record Attendance</a>
{% endblock %}
