{% extends 'base.html' %}
{% block title %}{{ students.name }}{% endblock %}

{% block content %}
<h1>{{ students.name }}</h1>
<p><strong>Email:</strong> {{ students.email }}</p>
<p><strong>Phone Number:</strong> {{ students.phone }}</p>

<h2>Attendance</h2>
<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {% for attend in attendance %}
    <tr>
        <td>{{ attend.date }}</td>
        <td>{{ attend.is_present }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="2">No attendance recorded yet.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <form action="/students/attendance/" method="post">
        {% csrf_token %}
        <input type="hidden" name="student" value="{{students.id}}">
        <input type="hidden" name="is_present" value="true">
    <button type="submit">Record Attendance</button>
    </form>
{% endblock %}
