{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'Home' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'Logout' %}">Logout</a></li>
                <li><a href="{% url 'Profile' %}">Profile</a></li>
                <li><a href="/students/students/">Students</a></li>
                <li><a href="/teachers/teachers/">Teachers</a></li>
                <li><a href="/classes/classes/">Classes</a></li>
                <li><a href="/classes/classes/">Library</a></li>
                <li><a href="/classes/classes/">Transport</a></li>
            {% else %}
                <li><a href="{% url 'Login' %}">Login</a></li>
                <li><a href="{% url 'Signup' %}">Signup</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>
