{% extends 'base.html' %}

{% block title %}
    Classes
{% endblock %}

{% block content %}
    <h1>Classes</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Teacher</th>
            <th>Start time</th>
            <th>End time</th>
        </tr>
        </thead>
        <tbody>
        {% for class_obj in classes %}
            <tr>
                <td>{{ class_obj.name }}</td>
                <td>{{ class_obj.code }}</td>
                <td>{{ class_obj.teacher }}</td>
                <td>{{ class_obj.start_time }}</td>
                <td>{{ class_obj.end_time }}</td>
                <td><a href="{% url 'class_detail' pk=class_obj.pk %}">Details</a></td>
                {% if request.user.is_superuser or request.user == class_obj.teacher %}
                    <td><a href="{% url 'enroll_students' class_id=class_obj.pk %}">Enroll students</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
